<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>궁합</title>
</head>
<body>
    <h1>궁합을 알려드려요</h1>
    <h2>
        <form action="/match">
            당신의 이름을 입력해주세요 : <input type="text" name="me"><br>
            그분의 이름을 입력해주세요 : <input type="text" name="you"><br>
            <input type="submit" value="Send">
        </form>
    </h2>
</body>
</html>